<!DOCTYPE html>
<html lang="zh-CN">
<head th:replace="admin/_fragments :: head('后台')">
    <title>管理员神秘区域</title>
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment md-padded-tb-mini md-shadow-mini" th:replace="admin/_fragments :: menu(3)">
</nav>
    <!--二级导航-->
    <div class="ui attached md-pd-tb-mini menu">
        <div class="ui container">
            <a href="#" class="item" th:href="@{/admin/blogs/input}">发布</a>
            <a href="#" class="teal active item" th:href="@{/admin/blogs}">列表</a>
        </div>
    </div>

    <!--内容-->
    <div class="md-pd-tb-massive">
        <div class="ui container">
            <!--头部表单-->

            <div class="ui segment form">
                <input type="hidden" name="page">
                <div class="md-inline-block fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field">
                       <div class="ui selection dropdown">
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div class="item" data-value="1" th:each="types : ${types}" th:data-value="${types.id}" th:text="${types.name}">开发者手册</div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <button type="button" id="search-button" class="ui teal button"><i class="search"></i>搜索</button>
                    </div>
                </div>
            </div>

            <!--表格-->
            <div id="table-container">
                <table class="ui table" th:fragment="blogList">
                    <!--表头-->
                    <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>TAG</th>
                        <th>发布状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <!--内容-->
                    <tbody>
                    <tr th:each="blog,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${blog.title}">133</td>
                        <td th:text="${blog.type.name}">tag</td>
                        <td th:text="${blog.published} ? '发布' : '草稿'">草稿</td>
                        <td th:text="${blog.updateTime}">2026</td>
                        <td>
                            <a href="#" class="ui teal button" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}">编辑</a>
                            <a href="#" class="ui red button" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}">删除</a>
                        </td>
                    </tr>

                    </tbody>
                    <!--表底部-->
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui pagination menu">
                                <a onclick="page(this)" class="item" th:attr="data-page=${page.number -1}">上一页</a>
                                <a onclick="page(this)" class="item" th:attr="data-page=${page.number +1}">下一页</a>
                            </div>
                            <a href="#" class="ui right floated teal button" th:href="@{/admin/blogs/input}">新增</a>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

    <!--底部-->
    <footer class="ui inverted vertical segment md-padded-tb-massive" th:replace="admin/_fragments :: footer">
    </footer>
    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <!--/*/</th:block>/*/-->
<!--底下这串我看不懂，做互动的-->
    <script>
        /*做一个适应手机端的导航栏收缩按键*/
        $('.menu.toggle').click(function(){
            $('.md-item').toggleClass('md-mobile-hide');
        });
        
        /*头像下拉组件*/
        $('.ui.dropdown').dropdown();

        function page(obj) {
            $("[name='page']").val($(obj).data("page"));
            loaddata();
        }

        /*点击搜索button事件*/
        $("#search-button").click(function () {
            loaddata();
        });

        /*发送请求*/
        function loaddata() {
            $("#table-container").load(/*[[@{admin/blogs/search}]]*/"/admin/blogs/search", {
                title : $("[name='title']").val(),
                typeId : $("[name='typeId']").val(),
                recommend : $("[name='recommend']").prop('checked'),
                page : $("[name='page']").val()
            });
        }



    </script>

    
</body>
</html>