<!DOCTYPE html>
<html lang="zh-CN">
<head th:replace="admin/_fragments :: head('分类新增')">
    <title>管理员神秘区域</title>
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment md-padded-tb-mini md-shadow-mini" th:replace="admin/_fragments :: menu(2)" ></nav>
    <!--二级导航-->
    <div class="ui attached md-pd-tb-mini menu">
        <div class="ui container">
            <a href="#" class="teal active item" th:href="@{/admin/types/input}">发布</a>
            <a href="#" class="item" th:href="@{/admin/types}">列表</a>
        </div>
    </div>

    <!--内容-->
    <div class="md-pd-tb-massive">
        <div class="ui container">
            <form action="#" method="post" class="ui form" th:action="*{id}==null ? @{/admin/types} : @{/admin/types/{id}(id=*{id})}" th:object="${type}">
                <input type="hidden" th:field="*{id}" name="id">
                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">名称</label>
                        <input type="text" name="name" placeholder="分类名称" th:value="*{name}">
                    </div>
                </div>

                <!--表单错误信息显示-->
                <div class="ui error message"></div>

                <!--/*/
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}" >
                    <i class="close icon"></i>
                    <div class="header">验证失败</div>
                    <p th:errors="*{name}">提交信息不符合规则</p>
                </div>
                /*/-->

                <!--保存返回-->
                <div class="ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                    <button class="ui teal submit button">确定</button>
                </div>
            </form>
        </div>
    </div>

<!--底部-->
<footer class="ui inverted vertical segment md-padded-tb-massive" th:replace="admin/_fragments :: footer">
</footer>

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6/dist/jquery.min.js"></script>
    <!--markdown-->
    <script th:src="@{/lib/editormd/editormd.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <!--下面引入tocbot目录工具-->
    <script th:src="@{/lib/tocbot/tocbot.min.js}"></script>
    <!--下面引入qrcode二维码生成-->
    <script th:src="@{/lib/qrcode/qrcode.min.js}"></script>
    <!--下面引入scrollto平滑滚动-->
    <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.3/jquery.scrollTo.min.js"></script>
</th:block>

<!--底下这串我看不懂，做互动的-->
    <script>

        /*做一个适应手机端的导航栏收缩按键*/
        $('.menu.toggle').click(function(){
            $('.md-item').toggleClass('md-mobile-hide');
        });

        /*头像下拉组件*/
        $('.ui.dropdown').dropdown();

        /*表单内容验证*/
        $('.ui.form').form({
            fields : {
                title : {
                    identifier:'name',
                    rules:[{
                        type : 'empty',
                        prompt:'请输入分类名称'
                    }]
                }
            }
        });

    </script>

    
</body>
</html>