<!DOCTYPE html>
<html lang="zh-CN">
<head th:replace="_fragments :: head('详情页')">
    <title>详情页</title>
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment md-padded-tb-mini md-shadow-mini" th:replace="_fragments :: menu(5)">
</nav>

    <!--内容-->
    <div class="md-pd-tb-massive">
        <div class="ui container">
            <div class="ui grid">
                <div class="eleven wide column">
                    <div class="ui attached segment">
                        <img src="../static/images/back.jpg" alt="" style="width: 800px;" th:src="@{/images/back.jpg}">
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p>这是一段文字文字文字文字文字文字文字</p>
                    </div>
                    <div class="ui bottom attached segment">
                        <a href="#" class="ui wechat teal basic circular button"><i class="weixin icon"></i></a>
                        <a href="#" class="ui qq teal basic circular button" data-content="2899893413" ><i class="qq icon"></i></a>
                    </div>
                </div>
                <div class="ui wechat-image flowing popup transition hidden">
                    <img src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 100px;" th:src="@{/images/wechat.jpg}">
                </div>
            </div>
        </div>
    </div>

<!--底部-->
<footer class="ui inverted vertical segment md-padded-tb-massive" th:replace="_fragments :: footer">
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<!--底下这串我看不懂，适应手机端的-->
    <script>
        $('.menu.toggle').click(function(){
            $('.md-item').toggleClass('md-mobile-hide');
        });

        /*弹出qq二维码*/
        $('.qq').popup({
            position: 'bottom center'
        });

        /*弹出微信二维码*/
        $('.wechat').popup({
            popup : $('.wechat-image.popup'),
            position: 'bottom center'
        });
    </script>
</body>
</html>