<!DOCTYPE html>
<html lang="zh-CN">
<head th:replace="_fragments :: head('详情页')">
    <title>详情页</title>
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment md-padded-tb-mini md-shadow-mini" th:replace="_fragments :: menu(2)">
</nav>

    <!--内容-->
    <div class="md-pd-tb-massive">
        <div class="ui container">
            <!--头部-->
            <div class="ui attached segment">
                <div class="ui middle aligned two column grid">
                     <div class="column">
                        <h1 class="ui teal header">Tags</h1>
                    </div>
                    <div class="right aligned column">
                    目前共<h3 class="ui teal header md-inline-block">3</h3>tag
                    </div>
                </div>
            </div>
            <!--tag们，我直接用了主页的标签样式-->
            <div class="ui attached segment">
                <a href="#" class="ui teal basic left label md-margin-tb-massive">
                    <h3>tag</h3>
                </a>
                <a href="#" class="ui teal basic left label md-margin-tb-massive">
                    <h3>tag</h3>
                </a>
                <a href="#" class="ui teal basic left label md-margin-tb-massive">
                    <h3>tag</h3>
                </a>
            </div>
            <!--内容-->
            <div class="ui attached segment">
                <!--复制了主页的一篇-->
                <div class="ui padded vertical segment md-pd-tb-massive">
                    <div class="ui grid">
                        <div class="twelve wide column">
                            <h3 class="ui header">我不知道写啥，反正这是一个标题</h3>
                            <p class="md-tt-spaced">女人女人女人女人女人女人女人女人女人女人女人女人女人女人女人女人女人护士女人女人女人女人女人女人</p>
                            <div class="ui grid">
                                  <div class="twelve wide column">
                                    <div class="ui horizontal list">
                                        <div class="item">
                                            <img src="../static/images/wechat.jpg" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header md-tt-thin">作者名</a>                                                
                                            </div>
                                        </div>
                                    <div class="item">
                                            <i class="calendar alternate icon"></i>日期
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>浏览量
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned four wide column">
                                    <a href="#" target="_blank" class="ui label">这是个标签</a>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <a href="#" target="_blank">
                                <img src="../static/images/wechat.jpg" alt="" class="ui rounded images" style="width: 150px;height: auto;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--底部-->
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" class="ui teal button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui teal button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--底部-->
<footer class="ui inverted vertical segment md-padded-tb-massive" th:replace="_fragments :: footer">
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<!--底下这串我看不懂，做互动的-->
    <script>
        /*做一个适应手机端的导航栏收缩按键*/
        $('.menu.toggle').click(function(){
            $('.md-item').toggleClass('md-mobile-hide');
        });
        
    </script>

    
</body>
</html>